@model StudentSchedule

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>StudentSchedule</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DayOfWeek" class="control-label"></label>
                <select asp-for="DayOfWeek" class="form-control" asp-items="ViewBag.Days"></select>
                <span asp-validation-for="DayOfWeek" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SubjectId" class="control-label">Subject</label>
                <select asp-for="SubjectId" class ="form-control" asp-items="ViewBag.Subject"></select>
            </div>
            <div class="form-group">
                <label asp-for="ClassType" class="control-label"></label>
                <select asp-for="ClassType" class="form-control" asp-items="@Html.GetEnumSelectList<ClassType>()"></select>
            </div>
            <div class="form-group">
                <label asp-for="TimeSlotId" class="control-label">Class Num</label>
                <select asp-for="TimeSlotId" class="form-control" asp-items="ViewBag.TimeSlot"></select>
            </div>
            <div class="form-group">
                <label asp-for="WeekType" class="control-label"></label>
                <select asp-for="WeekType" class="form-control" asp-items="@Html.GetEnumSelectList<WeekType>()"></select>
            </div>
            <div class="form-group">
                <label asp-for="TeacherId" class="control-label">Teacher</label>
                <select asp-for="TeacherId" class="form-control" asp-items="ViewBag.Teacher"></select>
            </div>
            <div class="form-group">
                <label asp-for="Location" class="control-label"></label>
                <input asp-for="Location" class="form-control" name="Location"/>
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GroupId" class="control-label">Group</label>
                <select asp-for="GroupId" class="form-control" asp-items="ViewBag.Group"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
