html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.buttons:first-child {
    margin-bottom: 20px;
}

img:first-child {
    margin-bottom: 15px;
}

.buttons a {
    display: block;
}

a {
    text-decoration: none;
}

.controls {
    display: flex;
    justify-content: space-between;
    justify-items: center;
}

.controls .form-group {
    margin: 0 30px;
    display: flex;
    align-items: center;
}

.controls .form-control {
    margin: 0 16px;
}

.filter-btn {
    height: 40px;
    margin: 10px 0;
}

.filter {
    margin: 10px 0;
}

.left-align {
    margin-left: auto;
}

.active-day {
    background-color: #c2dcff !important;
}

.schedule-slot {
    width: fit-content;
    height: fit-content;
}

.form-control {
    margin-right: 50px;
}

.form-group {
    align-items: center;
}

label {
    white-space: nowrap;
    margin-right: 10px;
}